
.main{
    width: auto;
    margin-top: 100px;
    /* border: 1px solid #30bbf2; */
    display: block;
    
}

.welcome{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    /* border: 1px solid red; */
}
.self{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -20px;
}
.self h4{
    margin: 0 10px ;
}

.corazon {
    text-align: center;
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.animation{
    width: auto;
    text-align: center;
    display: block;
    justify-content: center;
    /* border: 1px solid red; */
}
.animation p{
    color: rgba(red, green, blue, 0.1);
    
}
.animation img{
    margin-top: 30px;
    /* border-radius: 50%; */
    animation-name: latido;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes latido {
    0% {background-color: transparent; width: 100px; height: 100px;}
    50% {background-color: transparent;  width: 120px; height: 120px; font-size: 12px;}
    100% {background-color: transparent; width: 100px; height: 100px;}
}
.animation img:hover{
    animation-duration: 1s;

}