
.main{
    width: 100%;
    height: 500px;
    /* height: 100vh;
    position: absolute;
    top: 0; */
    margin-top: 40px;
    /* border: 1px solid #30bbf2; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-auto-rows: auto;
    /* align-items: center; */
    
    
}

.welcome{
    display: grid;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* margin-top: 150px; */
    /* border: 1px solid red; */
}
.self{
    display: grid;
    align-items: center;
    justify-content: left;
    /* text-align: center; */
    /* margin-top: -20px; */
}
.self h1{
    color: #FAC84B;
}
.self p{
    /* margin-left: 60px; */
    text-align: center;
}


.corazon {
    display: block;
    text-align: center;    
    justify-content: center;
    text-align: center;
    /* margin-top: 40px; */
    /* border: 1px solid red; */
}
.animation{
    /* width: auto; */
    text-align: center;
    /* display: block; */
    /* justify-content: center; */
    /* border: 1px solid red; */
}
.animation p{
    color: rgba(red, green, blue, 0.1);
    
}
.animation img{
    margin-top: 150px;
    /* align-items: center; */
    /* border-radius: 50%; */
    animation-name: latido;
    animation-duration: 3s;
    /* animation-delay: 0.5s; */
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes latido {
    0% {background-color: transparent; width: 100px; height: 100px;}
    50% {background-color: transparent;  width: 120px; height: 120px; font-size: 12px;}
    100% {background-color: transparent; width: 100px; height: 100px;}
}
.animation img:hover{
    animation-duration: 1s;
}

@media only screen and (max-width: 900px) {
    
    .main{
        display: block;
    }
    .animation img{
        margin-top: 30px;
    }
}