.container {
  padding: 0 2rem;
}

.main {
  min-height:  calc(100vh - 100px);
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.footer {
  display: flex;
  /* display: grid; */
  /* flex: 1; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  /* position: sticky;
  bottom: 0; */
  /* background-color: #0d1729; */
  
  /* border: 1px solid skyblue; */
}

/* .footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */
.footer h4{
  padding-left: 20px;
  font-style: italic;
  /* border: 1px solid skyblue; */
}


.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  /* color: #0070f3;
  border-color: #0070f3; */
  color: #F0C040;
  border-color: #FAC84B;
  /* color: #f2496a;
  border-color: #f2496a; */
  /* color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border-color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
  /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: justify;
}
.card h3{
  color: #FA6E89;
  font-style: italic;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.portfolio h2{
  padding: 20px;
  border-radius: 5px;
  color: #FA6E89;
  border: 1px solid #FA6E89;
  transition: color 0.9s, border 0.9s, font-size 0.5s;
}
.portfolio h2:hover{
  font-size: 28px;
  color: #FAC84B;
  border: 1px solid #FAC84B;
}
.main h1{
  color: #55CBFA;
}

.separador{
  width: calc(100vw - 100px);
}

.fondo{
  width: 100%;
  height: 120px;
  display: flex;
  background-image: url("/fondos/fondoPrincipal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  justify-content: center;
  align-items: center;
}
.fondo h2{
  color: black;
}
/* --------------------------------------------------------- */

.animation{
  padding-left: 30px;
  /* border: 1px solid skyblue; */
}
.animation img{
  /* border: 1px solid skyblue; */
  /* margin-top: 150px; */
  /* align-items: center; */
  /* border-radius: 50%; */
  animation-name: latido;
  animation-duration: 3s;
  /* animation-delay: 0.5s; */
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-iteration-count: infinite;
  cursor: pointer;
  
}
@keyframes latido {
  0% {background-color: transparent; width: 30px; height: 30px;}
  50% {background-color: transparent;  width: 35px; height: 35px; font-size: 12px;}
  100% {background-color: transparent; width: 30px; height: 30px;}
}
.animation img:hover{
  animation-duration: 1s;
}
/* --------------------------------------------------------- */
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
